*{
    color: #ffffff;
    margin:0px;
}
body{
    background-color: #000000;
}
#navbar{
    margin: 0px;
background: rgba(0,0,0,0.7);
    display:flex;
    height: 68px;
    width: 100%;
    gap: 40em;
    justify-content: center;
    justify-items: center;
}
.logo{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    
}
.loca{
    gap: 50px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.text{
    padding-top: 25px;  
}

.loca .text a button:hover{
   background-color: #000000;
   color: #f4b702;
}
.text a, .text a button{
    color:#ffd500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}
.loca div{
    padding-top: 20px;
}
.loca a button{
    height: 2em;
    padding: 10px;
    padding-top:5px;
    border-radius: 5px;
    background-color: #ffd500e5;
    color: #000000;
}
.lg{
padding-left: 15px;
padding-top: 15px;
}
.logo p{
    color: #c7b449;
    padding-top: 25px;
}
#background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire screen */
    z-index: -1; /* Sends the video behind other content */
  }
  .foot{
    height: 20em;
background-color: #131313;
width: 100%;
}
footer{
       display: flex;
       gap: 150px;
}
.links{
   margin-left: 10em;
   margin-top: 30px;
}
.lik{
    color: #f6bd00;
    font-size: 25px;
    margin-bottom: 10px;
}
.pg{
    margin-top: 10px;
    width:80px;
}
.pg a{
    text-decoration: none;
}
.social{
     margin-top: 30px;
}
.phone{
    display: flex;
    gap:10px;
    margin-top:14px;
    margin-bottom: 25px;
}
.email{
    display: block;
    text-align: center;
}
.location{
display: flex;
gap:30px;
}
.locat1 p{
  width:220px;
  margin: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.phone p{
    margin-top: 10px;
}
.main{
    height: 100%;
    width: 100%;
}
.about{
    height:40vh;
    background-color: #0000008b;
    margin-top: 5rem;
    width: 80vh;
    border-radius: 20px;
    padding: 60px;
    margin-left: 25rem;
    margin-bottom: 8rem;
}
.text{
margin-bottom: 20px ;
text-align: center;
}
.subtext span{
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;

}
.text span{
color: #f6bd00;
font-size: 40px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main section{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 60px;

}
.require{
    margin:20px;
    margin-left: 8rem;
    height: 40%;
    width: 75%;
    background-color: #0a0a0a;
    padding: 70px;
    display: flex;
    gap: 5rem;
    animation: float 3s ease-in-out infinite;
    }
    .extra{
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding-left: 250px;
    }
    .extra2{
        font-size: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding-left: 280px;
    }
    .button{
        margin: 20px;
        margin-left: 27rem;
        background-color: #000000;
        border:2px #ffffff solid;
        border-radius: 10px;
        height:35px;
        width: 150px;
        box-shadow: -4px 2px 8px #f3f3f3;
        text-align: center;
        padding-top: 10px;
        
    }
    .button a:hover{
        color: #ffffff;
    }
    .button a{
        color: #f6bd00;
        text-decoration: none;
    }
    .cont{
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         margin-bottom: 20px;
    }
    .cont_d ,.cont_d span{
        font-size: 30px;
        color: #f6bd00;
    }
    .ad{
        height: 100px;
    }
    .addre{
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         margin-bottom: 20px;
    }
    .add{
        margin-top: 15px;
    }
    .add li{
        margin-bottom: 8px;
    }
    .details{
         width: 600px;
    }
    .imgg{
        background-color: #1f1f1f;
        height: 45vh;
       padding: 5px;
         border-radius: 20px;
       width: 500px;
    }
    .imgg img{
        border-radius: 20px;
    }
    
    @keyframes float {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
        }
    }
    .text a:hover{
 color: #ffffff;
    }
    .pg a:hover{
        color: #f6bd00;
    }
    #background-video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures the video covers the entire screen */
        z-index: -1; /* Sends the video behind other content */
      }
      textarea {
        display: block;
        resize: none;
        width: 250px;
        height: 100px;
        background-color: #1f1f1f;
        margin-bottom: 10px;
      }
    input{
         background-color: #f4b702;
         color: #000;
         margin-bottom: 20px;
         padding: 10px 5px;
         border-radius: 5px;
      }